@import "stylesheets/variables.scss";
@import "stylesheets/responsive.scss";

.alignCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.verticalLineContainerStyle {
  flex: 1;
  display: flex;
  justify-content: center;
}

.verticalLineStyle {
  border-left: 1.5px solid $crimson;
  height: 75px;
  margin-top: 20px;
  margin-bottom: 5px;

  @media #{$mobile_device} {
    height: 50px;
  }
}

.servicesHeaderTextStyle {
  margin: 10px 0 10px 0;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 3px;
  color: $sonic-silver;
  text-transform: uppercase;
  margin-bottom: 14px;
  font-family: Muli ", sans-serif";
  @media #{$mobile_device} {
    font-size: 11px;
  }
}

.servicesContainer {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 50px;
  @media #{$tablet_device} {
    flex-direction: column;
    align-items: center;
  }
  @media #{$mobile_device} {
    flex-direction: column;
    align-items: center;
    margin: 5px;
  }
}

.servicesTextStyle {
  font-weight: 600;
  font-size: 62px;
  letter-spacing: 2;
  width: 50%;
  text-align: center;
  @media #{$mid_device} {
    font-size: 52px;
  }
  @media #{$tablet_device} {
    font-size: 32px;
  }
  @media #{$mobile_device} {
    width: 60%;
    font-size: 22px;
  }
}

h6 {
  margin: 0;
}
