@import "stylesheets/variables.scss";
@import "stylesheets/responsive.scss";

.container {
  position: relative;
  z-index: 0;
}

.landingBackground {
  width: 100%;
  position: relative;
  display: inline-block;
}
.landingBackground img {
  display: block;
}

.headerStyle {
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.imageStyle {
  width: $landing-image-width;
  height: $landing-image-height;
  @media #{$mobile_device} {
    height: 400px;
  }
}

.landingBackground::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: $landing-image-width;
  height: $landing-image-height;
  display: inline-block;
  background-size: cover;
  background: linear-gradient(
    to top,
    $dark-blue 0%,
    rgba(129, 11, 46, 0.678) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, $dark-blue),
    color-stop(100%, rgba(129, 11, 46, 0.678))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    $dark-blue 0%,
    rgba(129, 11, 46, 0.678) 100%
  ); /* Chrome10+,Safari5 */
  @media #{$mobile_device} {
    height: 400px;
  }
}

.cartoonDoodleStyle {
  position: absolute;
  width: 300px;
  height: 250px;
  left: 0;
  bottom: 0;
  transform: rotate(30deg);
  margin-bottom: 20px;
}

.spaceshipImage {
  position: absolute;
  width: 300px;
  height: 150px;
  right: 0;
  bottom: 0;
  transform: rotate(320deg);
  margin-bottom: 8%;
  margin-right: 5%;
}

.textWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: $white;
  @media #{$tablet_device} {
    width: 600px;
  }
  @media #{$mobile_device} {
    width: 400px;
  }
}
.landingTextStyle {
  font-size: 36px;
  @media #{$tablet_device} {
    font-size: 22px;
  }
  @media #{$mobile_device} {
    font-size: 12px;
  }
}

h1 {
  font-weight: 400;
  margin: 5px;
}
