@import "stylesheets/variables.scss";

a {
  background-color: $crimson;
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 24px;
  outline: none;
}

.buttonStyle {
  background-color: $black;
  color: $white;
  border: 2px solid $crimson;
  justify-content: center;
}

.buttonStyle:hover {
  background-color: $crimson;
  color: white;
}
