@import "stylesheets/variables.scss";
@import "stylesheets/responsive.scss";

.aboutContainer {
  width: 100%;
  height: 500px;
  margin: 40px 0;
  @media #{$mid_device} {
    height: 700px;
  }
  @media #{$tablet_device} {
    height: 700px;
  }
  @media #{$mobile_device} {
    height: 600px;
  }
}

.subContainer {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  @media #{$mid_device} {
    flex-direction: column;
    align-items: center;
  }
  @media #{$tablet_device} {
    flex-direction: column;
    align-items: center;
  }
  @media #{$mobile_device} {
    flex-direction: column;
    align-items: center;
  }
}

.aboutImageStyle {
  width: 550px;
  height: 500px;
  margin: 96px 0;
  @media #{$tablet_device} {
    width: 550px;
    height: 500px;
    margin: 96px 0;
  }
  @media #{$mobile_device} {
    width: 250px;
    height: 225px;
    margin: 46px 0;
  }
}

.squareImageStyle {
  position: absolute;
  width: 200px;
  height: 200px;
  right: 65px;
  top: 0;
  z-index: -1;
  transform: rotate(270deg);
  @media #{$mid_device} {
    right: 130px;
    top: 30%;
  }
  @media #{$tablet_device} {
    right: 10px;
    top: 30%;
  }
  @media #{$mobile_device} {
    display: none;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  justify-content: center;
  @media #{$mid_device} {
    text-align: center;
    max-width: 800px;
  }
  @media #{$tablet_device} {
    width: 80%;
    margin: 0 10%;
    text-align: center;
  }
  @media #{$mobile_device} {
    width: 80%;
    margin: 0 10%;
    text-align: center;
  }
}

.textContainer h1 {
  font-size: 52px;
  font-weight: 500;
}
.textContainer p {
  font-size: 16px;
  font-weight: 400;
  margin: 10px 5px;
  text-align: left;
  @media #{$mid_device} {
    font-size: 22px;
  }
}

.aboutBackgroundStyle {
  font-weight: 800;
  color: #f5f6f7;
  font-size: 235px;
  position: absolute;
  left: 21%;
  top: 0;
  line-height: 1;
  z-index: -1;
  @media #{$mid_device} {
    top: 25%;
    left: 0;
  }
  @media #{$tablet_device} {
    top: 25%;
    left: 0;
  }
  @media #{$mobile_device} {
    top: 55%;
    left: 0;
    font-size: 100px;
  }
}

.textContainerContent {
  @media #{$mid_device} {
    text-align: center !important;
  }
  @media #{$tablet_device} {
    text-align: center !important;
  }
  @media #{$mobile_device} {
    text-align: center !important;
  }
}
.downloadButtonContainer a {
  background-color: $crimson;
  border: 2px solid $crimson;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  outline: none;
  margin: 10px 5px;
}

.downloadButtonStyle {
  background-color: $crimson;
  color: $white;

  border-radius: 0;
}

.downloadButtonStyle:hover {
  background-color: $white;
  color: $crimson;
  border: 2px solid $crimson;
}
