@import "stylesheets/variables.scss";
@import "stylesheets/responsive.scss";

.cardContainer {
  border: 1px solid $light-grey;
  height: 280px;
  width: 30%;
  max-width: 30%;
  min-width: 350px;

  @media #{$tablet_device} {
    width: 350px;
    margin: 20px 0;
  }
  @media #{$mobile_device} {
    width: 220px;
    min-width: 220px;
    height: 200px;
    margin: 20px 0;
  }
}

.cardContainer:hover {
  border: 1px solid $crimson;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  margin: 0px 40px 0 40px;
  @media #{$mobile_device} {
    margin: 0px 10px 0 10px;
  }
}

.iconStyle {
  width: 75px;
  height: 75px;
  @media #{$mobile_device} {
    width: 35px;
    height: 35px;
  }
}

.iconHeaderStyle {
  font-size: 28px;
  font-weight: 500;
  font-family: Muli ", sans-serif";
  @media #{$mobile_device} {
    font-size: 18px;
  }
}

p {
  text-align: center;
  color: $sonic-silver;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  @media #{$mobile_device} {
    font-size: 12px;
  }
}
