@import "stylesheets/variables.scss";
@import "stylesheets/responsive.scss";

.portfolioContainer {
  background-color: $dark-blue;
  width: 100%;
  height: 900px;
  margin-top: 100px;
  @media #{$mobile_device} {
    height: 1100px;
  }
}

.portfolioCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: -550px;
  @media #{$tablet_device} {
    flex-wrap: wrap;
  }
  @media #{$mobile_device} {
    margin-top: -880px;
  }
}

.portfolioTextContainer {
  display: flex;
  flex-direction: column;
  padding: 100px 0;
}

.portfolioTextContainer p {
  color: $white;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 3px;
  font-family: Muli ", sans-serif";
}

.portfolioTextContainer h1 {
  margin: 20px 25%;
  color: $white;
  text-align: center;
  font-size: 52px;
  font-weight: 700;
  @media #{$mid_device} {
    font-size: 42px;
  }
  @media #{$tablet_device} {
    font-size: 38px;
    margin: 20px 20%;
  }
  @media #{$mobile_device} {
    font-size: 26px;
    margin: 20px 5%;
    font-weight: 700;
  }
}

.buttonStyle {
  width: 150px;
  padding: 12px 12px;
  font-size: 14px;
  background-color: $black;
  color: $white;
  border: 2px solid $crimson;
  margin: 10px;
  justify-content: center;
}

.buttonStyle:hover {
  background-color: $crimson;
  color: white;
}

.textDisabled {
  color: $crimson;
  font-size: 18px;
  font-weight: 600;
}
