/*********Main color **************/
$white: #ffffff;
$black: #000000;
$light-grey: #dddddd;
$crimson: #dc143c;
$sonic-silver: #757575;
$dark-blue: #001d38;
$light-blue: #0b223a;

/*********Linear gradient **************/

$primary-gradient: linear-gradient(
  top,
  rgba(0, 47, 75, 0.5) 0%,
  rgba(220, 66, 37, 0.5) 100%
);

/*********Images**************/

$landing-image-width: 100%;
$landing-image-height: 700px;
