@import "stylesheets/variables.scss";
@import "stylesheets/responsive.scss";

.contactContainer {
  width: 100%;
  height: 600px;
  background-color: $light-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formContainer {
  flex-direction: column;
  display: flex;
  margin: 20px 40px;
  width: 450px;

  @media #{$tablet_device} {
    width: 450px;
  }
  @media #{$mobile_device} {
    width: 280px;
  }
}

.inputFeildStyle {
  background-color: #171a1d;
  padding: 10px 15px;
  height: 20px;
  margin: 2px 0;
  border: 0;
  outline: none;
  font-size: 12pt;
  color: $white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.submitButtonStyle {
  background-color: $light-blue;
  color: $white;
  border: 2px solid $crimson;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  transition-duration: 0.4s;
  cursor: pointer;
  outline: none;
  margin: 25px 5px;
  border-radius: 0;
  width: 45%;
  align-self: center;
}

.submitButtonStyle:hover {
  background-color: $crimson;
  color: $white;
  border: 2px solid $crimson;
}

.horizontalLineStyle {
  background: $white;
  margin: 5px 0 40px 0;
  width: 110px;
  height: 5px;
  @media #{$mobile_device} {
    margin: 5px 0 20px 0;
  }
}

.headerContactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactSubTitleStyle {
  color: $light-grey;
  font-size: 19px;
  font-weight: 500;
  margin: 0px;
  @media #{$mobile_device} {
    font-size: 14px;
  }
}

.triangle {
  display: flex;
  margin-top: 200px;
  @media #{$mid_device} {
    margin-top: 193px;
  }
  @media #{$tablet_device} {
    margin-top: 193px;
  }
  @media #{$mobile_device} {
    margin-top: 199px;
  }
}

.leftTriangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent transparent transparent $light-blue;
}

.rightTriangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent transparent $light-blue transparent;
}

.contactTitleStyle {
  color: $white;
  font-size: 52px;
  font-weight: 700;
  @media #{$mobile_device} {
    font-size: 42px;
  }
}

.successStyle {
  color: $crimson;
  font-size: 14px;
  margin: 25px 5px;
  text-align: center;
}
.errorStyle {
  color: red;
  font-size: 14px;
}

.loaderContainer {
  align-self: center;
  margin: 25px 5px;
}
