@import "stylesheets/variables.scss";
@import "stylesheets/responsive.scss";

.stickyHeader {
  background-color: $black;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  z-index: 999;
  transition: 0.5s ease;
  @media #{$mobile_device} {
    display: none;
  }
}

.normalHeader {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  justify-content: center;
  @media #{$mobile_device} {
    display: none;
  }
}

.expandHamburgerStyle {
  display: flex;
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  background-color: black;
}

.linkContainer {
  padding: 20px 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  @media #{$mobile_device} {
    padding: 15px 0;
    width: 100%;
    text-align: left;
  }
}

h3 {
  margin: 0;
}

.link {
  text-decoration: none;
  color: $white;
  font-weight: 500;
  background: transparent;
  @media #{$mobile_device} {
    margin-top: 70px;
  }
}

.link:hover {
  color: $crimson;
}

a {
  @media #{$mobile_device} {
    display: flex;
    background-color: black;
  }
}

a:hover {
  color: $crimson;
}

.hamburgerIconStickyContainer {
  position: fixed;
  height: 70px;
  background-color: $black;
  width: 100%;
  top: 0;
  z-index: 999;
  transition: 0.5s ease;
  @media #{(min-width: 768px)} {
    display: none;
  }
}

.hamburgerIconContainer {
  transition: 0.5s ease;
  display: flex;
  position: absolute;
  z-index: 999;
  top: 0;
  width: 100%;
  @media #{(min-width: 768px)} {
    display: none;
  }
}

.hamburgerIcon {
  height: 40px;
  width: 40px;
  position: absolute;
  right: 0;
  margin: 15px 20px;
}
