@import "stylesheets/variables.scss";
@import "stylesheets/responsive.scss";

.footerContainer {
  width: 100%;
  height: 300px;
  background-color: $dark-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.footerIconContainer {
  display: flex;
}

.footerTextStyle {
  color: $light-grey;
  margin: 0px;
  font-weight: 300;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 5px 0 5px 0;
  @media #{$tablet_device} {
    font-size: 14px;
  }
  @media #{$mobile_device} {
    font-size: 14px;
  }
}
.footerCopyrightTextStyle {
  padding-left: 5px;
  color: $crimson;
}

.footerTextContainer {
  flex-direction: column;
  display: flex;
  position: absolute;
  bottom: 0;
}

.footerScrollUpContainer {
  position: absolute;
  top: -20px;
  width: 55px;
  height: 55px;
  background-color: $sonic-silver;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
}

.scrollUpStyle {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  font-size: 35px;
  color: $light-grey;
  padding: 0;
  background-color: transparent;
  margin: 0;
  border-radius: 0;
}

.scrollUpIconStyle {
  width: 100%;
  height: 100%;
}

.scrollUpIconStyle:hover {
  color: $crimson;
}

.footerScrollUpContainer:hover {
  background-color: $black;
}

.iconContainer {
  width: 55px;
  height: 55px;
  background-color: $crimson;
  margin: 0 20px;
  border-radius: 2px;
  cursor: pointer;
  @media #{$mobile_device} {
    width: 45px;
    height: 45px;
  }
}
.iconStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 35px;
  color: $light-grey;
  transition: all 0.4s ease-in;
  padding: 0;
  background-color: transparent;
  margin: 0;
  border-radius: 0;
  @media #{$mobile_device} {
    font-size: 30px;
  }
}

.iconStyle:hover {
  transform: rotateY(180deg);
  background-color: $black;
}
