@import "stylesheets/variables.scss";
@import "stylesheets/responsive.scss";

.mainContainer {
  width: 33.33%;
  flex-grow: 1;
  justify-content: center;
  display: flex;
  margin: 30px 0;
  @media #{$tablet_device} {
    width: 50%;
  }
  @media #{$mobile_device} {
    width: 100%;
  }
}

.portfolioContainer {
  position: relative;
  width: 100%;
  max-width: 350px;
  min-width: 250px;
  height: 275px;
  border-radius: 20px;
  cursor: pointer;
  margin: 10px;
  @media #{$mobile_device} {
    width: 280px;
    max-width: 280px;
    min-width: 280px;
  }
}

.portfolioImage {
  width: inherit;
  height: inherit;
  border-radius: inherit;
}

.portfolioOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: $black;
  border-radius: inherit;
}

.portfolioContainer:hover .portfolioOverlay {
  opacity: 0.95;
}

.portfolioContent {
  height: 100%;
  max-width: 90%;
  padding: 0 5%;
  color: white;
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
}

p {
  font-size: 16px;
  line-height: 22px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
